.keyboard {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 284px;
  height: 238px;
  padding: 20px 0px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: static;
    width: 284px;
    height: 52px;
    left: 0px;
    top: 20px;
  }
}

